<div class="container">
    <h2 class="h2 text-center mt-4">cập nhật thời khóa biểu học sinh</h2>
    <form action="/admin/update-tkb-student/{{lop.idtkb}}" method="post">

        <div class="select-thu mb-2 col-md-10">
            <label for="nienkhoa" class="form-label"><h4 class="h4">Tùy chọn ngày trong tuần</h4></label>
            <select class="form-select" id="thu" name="thu">     
                <option value="{{lop.thu}}">Thứ {{lop.thu}}</option>          
                <option value="2">Thứ 2</option>
                <option value="3">Thứ 3</option>
                <option value="4">Thứ 4</option>
                <option value="5">Thứ 5</option>
                <option value="6">Thứ 6</option>
                <option value="7">Thứ 7</option>
            </select>
        </div>
       
        <div class="row">
            <div class="mb-2 col-md-5">
                <label for="ten" class="form-label">Tiết 1</label>
                <input type="text" class="form-control" id="tiet1" name="tiet1" value="{{lop.tiet1}}">
            </div>
            <div class="mb-2 col-md-5">
                <label for="ten" class="form-label">Tiết 2</label>
                <input type="text" class="form-control" id="tiet2" name="tiet2" value="{{lop.tiet2}}">
            </div>
            <div class="mb-2 col-md-5">
                <label for="ten" class="form-label">Tiết 3</label>
                <input type="text" class="form-control" id="tiet3" name="tiet3" value="{{lop.tiet3}}">
            </div>
            <div class="mb-2 col-md-5">
                <label for="ten" class="form-label">Tiết 4</label>
                <input type="text" class="form-control" id="tiet4" name="tiet4" value="{{lop.tiet4}}">
            </div>
            <div class="mb-2 col-md-5">
                <label for="ten" class="form-label">Tiết 5</label>
                <input type="text" class="form-control" id="tiet5" name="tiet5" value="{{lop.tiet5}}">
            </div>
            <div class="mb-2 col-md-5">
                <label for="ten" class="form-label">Tiết 6</label>
                <input type="text" class="form-control" id="tiet6" name="ct1" value="{{lop.ct1}}">
            </div>
            <div class="mb-2 col-md-5">
                <label for="ten" class="form-label">Tiết 7</label>
                <input type="text" class="form-control" id="tiet7" name="ct2" value="{{lop.ct2}}">
            </div>
           
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>